<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Viva Musica Search</h1>

      <input #searchbar class="searchbar" id="barre_recherche" type="text" placeholder="Rechercher {{searchbarPlaceHolderText}}">

      <div class="choix-recherche">
            <ul>
              <li>
                <input type="radio" id="titre" name="typesearch" value="titre" (change)="radioChangedHandler($event)" checked>
                <label for ="titre">Titre</label>
              </li>
              <li>
                <input type="radio" id="artiste" name="typesearch" value="artiste" (change)="radioChangedHandler($event)">
                <label for ="artiste">Artiste</label>
              </li>
              <li>
                <input type="radio" id="album" name="typesearch" value="album" (change)="radioChangedHandler($event)">
                <label for ="album">Album</label>
              </li>
            </ul>
      </div>


      <p>
        <a class="btn btn-primary my-2" (click)="clickRechercher(searchbar.value)">Rechercher</a>
      </p>

      <!--  <div class='song'>
          <p>Contenu : {{urlPlayer}}</p>
          <iframe [src]="urlPlayer" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
        </div>  -->


    </div>
  </section>
