<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>

      <input class="searchbar" type="text" placeholder="recherche une musique,
artiste, ...">


            <ul class="choix">
              <li>
                <input type="radio" id="titre" name="critere" value="titre" checked>
                <label for ="titre">Titre</label>
              </li>
              <li>
                <input type="radio" id="artiste" name="critere" value="artiste">
                <label for ="artiste">Artiste</label>
              </li>
              <li>
                <input type="radio" id="album" name="critere" value="album">
                <label for ="album">Album</label>
              </li>
            </ul>



      <p>
        <a href="validation" class="btn btn-primary my-2">Rechercher</a>
          <!--  (click)="clickRechercher()" -->
        <a href="#" class="btn btn-secondary my-2" (click)="loginSpotify();">Connexion Spotify</a>
        
      </p>
    </div>
  </section>

