<div class="card mb-4 box-shadow">
  <iframe src="https://open.spotify.com/embed/track/63Ip2RzAZTzdKNxAhFPNxh" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
  <div class="card-body">
      <p>{{track.titre}}</p>
      <p>{{track.album}}</p>
      <p>{{track.artiste}}</p>
      <p>{{track.linkFrame}}</p>
    <!--<div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
      </div>
      <small class="text-muted">9 mins</small>
    </div>-->
  </div>
</div>
