<body>

  <header>
    <app-header></app-header>
  </header>

  <main role="main">

   <app-recherche></app-recherche>
   <div class="b"></div>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
          <div class="col-md-4">
            <app-resultat-recherche></app-resultat-recherche>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <app-footer></app-footer>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
</body>