<body>

  <header>
    <app-header></app-header>
  </header>

  <main role="main" style="background-color:#380002;">


  <app-recherche></app-recherche>
  <!-- <div class="b" btn btn-primary my-2></div> -->
  <app-resultat-recherche></app-resultat-recherche>



  </main>

  <footer class="text-muted">
    <app-footer></app-footer>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

</body>
